.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: aquamarine;
  color: white;
  font-size: 26px;
}

.linksList {
  display: flex;
  gap: 20px;
}

.linksItem a {
  text-decoration: none;
  color: white;
}

.linksItem a:hover {
  color: blanchedalmond;
}

.logoutBtn {
  border: none;
  background-color: inherit;
  color: white;
}

.logoutBtn:hover {
  cursor: pointer;
  color: blanchedalmond;
}
